<header>

        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
              <div class="w-50 d-flex justify-content-between d-lg-none">
                <a class="navbar-brand d-lg-none" href="/index">
                  <i class="bi bi-arrow-left fw-bolder"></i>
                </a>
                <img src="/images/logo.png" class="img-header" alt="Logo billetera CAC"
                  class="animate__animated animate__flipInX me-3">
              </div>
              <a class="navbar-brand ms-5 d-none d-lg-flex justify-content-center align-items-center" href="/index">
                <img src="/images/logo.png" class="img-header" alt="Logo billetera CAC"
                  class="animate__animated animate__flipInX me-3">
                <span class="fw-bold ms-3">Codo a codo homebanking</span>
              </a>
              <button class="navbar-toggler position-absolute end-0 me-5" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse me-5" id="navbarText">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                  </li>
                </ul>
                <span class="navbar-text">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/index">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/login"><i class="bi bi-door-open"
                        title="Login"></i></a>
                    </li>
                  </ul>
                </span>
              </div>
            </div>
          </nav>

    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/registro.png" class="img-fluid" alt="Persona registrandose">
            </div>
            <div class="col-md-6">
                <form id="registrationForm" class="form-container">
                    <h2 class="mb-4">Registro - Home Banking</h2>
                    <div class="form-group">
                        <label for="nombre">Nombre completo</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre completo"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="dni">Número de documento</label>
                        <input type="text" pattern="[0-9]+" maxlength="8" class="form-control" id="dni" placeholder="Ingrese su número de documento"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="dni">Usuario</label>
                        <input type="text" maxlength="10" class="form-control" id="usuario" placeholder="Ingrese su usuario"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico"
                            required>
                    </div>
                    <div class="form-group position-relative">
                        <label for="contrasena">Contraseña</label>
                        <div class="password-container">
                            <input type="password" class="form-control" id="contrasena"
                                placeholder="Ingrese su contraseña" required>
                            <span id="togglePassword1">
                                <i class="bi bi-eye-slash-fill" id="eyeIconContrasena"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group position-relative">
                        <label for="confirmar_contrasena">Confirmar contraseña</label>
                        <div class="password-container">
                            <input type="password" class="form-control" id="confirmar_contrasena"
                                placeholder="Confirme su contraseña" required>
                            <span id="togglePassword2">
                                <i class="bi bi-eye-slash-fill" id="eyeIconConfirmarContrasena"></i>
                            </span>
                        </div>
                        <div id="contrasenaError" class="error-message"></div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Registrarse</button>
                </form>
            </div>
            <div id="registroExitoso" class="Registro-Exitoso">
                <p>¡Registro exitoso! Muchas gracias por registrarte.</p>
            </div>
        </div>
    </div>
    <!-- <footer id="registro-footer" class="text-center"> -->
    <footer id="footer" class="text-center d-none d-lg-block">
        <p class="naranja">© 2024 Codo a codo homebanking. Todos los derechos reservados. Prohibida la duplicación,
              distribución o almacenamiento en cualquier medio.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="/registro.js"></script>