*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*//////////////////////////////////////////////////////////////*/

#body {
    background-image: url("../media/background_cuenta.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.img-header{
    width: 4rem;
}

.navbar-brand {
    font-size: 1em !important;
}

ul li a:hover{
    color: #d97c2b !important;
    font-weight: bold;
}
 
html {
    height: 100vh;
}

#body {
    height: 100vh;
}

#text-bienvenida {
    grid-area: bienvenida;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    padding-left: 10px;
    text-align: start;
    color: white;
}

main {
    display: grid;
    width: 100%;
    justify-items: auto;
    height: calc(100% - 150px);
    grid-template-columns: 100%;
    grid-template-rows:  10% 65% 25%;
    grid-template-areas: "bienvenida"
                         "info"
                         "botones";
}

#home-eye-icon {
    width: 50px;
    cursor: pointer;
}
 
#saldo {
    /* -webkit-text-security: disc; */
    visibility: hidden;
}

#botones {
    margin: auto;
    grid-area: botones;
    display: grid;
    width: 70%;
    max-width: 500px;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2%;
    justify-items: center;
    align-items: center;
}

.boton {
    width: 70px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    text-align:center;
    color: white;
    background-color: #BF2604;
    opacity: 0.6;
}

.boton:hover {
    scale: 1.2;
}

.boton:active {
    transform: scale(1.2);
}

.boton figcaption {
    padding: 2px;
    font-size: 65%;
}
 
#info {
    grid-area: info;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.boton-item {
    width: 75%;
    height: 75%;
    border-radius: 10px;
    padding: 3%;
}

#home-footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 30px;
    color: white;
    background-color:#0D0D0D;
}

#info span {
    font-weight: bolder;
}

/*cuenta css*/
#cuenta_header, #movimientos_header {
    width: 100%;
    margin: 0;
    word-spacing: 150px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background-color: #bd7a6b;
}

#movimientos_header {
    grid-area: movimientos_header;
}  

#cuenta_datos {
    grid-area: cuenta_datos;
    border-radius: 10px;
    background-color:  rgb(229, 215, 190);
    padding: 10px;
    padding-bottom: 0;
    font-size: 0.9em;
    max-width: 250px;
    max-height: 120px;
}

#cuenta_movimientos {
    grid-area: cuenta_movimientos;
}

#cuenta_movimientos table {
    height: 140px;
}

#cuenta_movimientos table .fecha, #cuenta_movimientos table .tipo {
    width: 10%;
}
#cuenta_movimientos table .concepto {
    width: 50%;
}
#cuenta_movimientos table .importe{
    width: 30%;
} 

#cuenta_movimientos table {
    font-size: 0.7em;
    display: flex;
    flex-flow: column;
    min-width: 300px;
    max-width: 650px;
    max-height: 160px;
    border-collapse: separate;
    border-spacing: 0 0.2em;
}

#cuenta_movimientos table thead {
    background-color:  rgb(229, 215, 190);
}  

#cuenta_movimientos table tr:nth-child(even) {
    background-color: #bd7a6b;
}    
  
#cuenta_movimientos table thead {
    text-align: end;
}
  
#cuenta_movimientos table tbody {
    display: block;
    overflow-y: auto;
    text-align: end;
}
  
#cuenta_movimientos table tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

#cuenta_movimientos table tr td.importe {
    padding-right: 10px;
}

#cuenta_movimientos table tr th.importe {
    padding-right: 25px;
}

#cuenta_movimientos table tr th.concepto {
    padding-right: 15px;
}

#info {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 2px;
    grid-template-columns: 100%;
    grid-template-rows: 5% 40% 5% 50%;
    grid-template-areas: "cuenta_header"
                         "cuenta_datos"
                         "movimientos_header"
                         "cuenta_movimientos";
}

#info h6 {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

@media screen and (max-width: 768px ) {
    #cuenta_movimientos table {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 576px) {
    .boton {
        width: 50px;
        height: 57px;
    }
    .boton figcaption {
        padding: 1px;
        font-size: 45%;
    }

}

@media screen and (max-height: 650px) {
    #body {
        height: 650px;
        overflow-y: scroll;
    }
}  

/*///////////*/

/*////////////////////////////////////////////////////////////*