*{
    margin: 0;
    padding:0;  
    box-sizing: border-box;
}

#body-index{
    min-width: 360px;
    min-height:100vh;
}

#body-index a {
    color:white !important;
}

#body-index ul li a:hover{
    color: #d97c2b !important;
    font-weight: bold;
}

#body-index .img-header{
    width: 3rem;
}

#body-index .navbar-brand {
    font-size: 1.3em !important;
}

#body-index #seccion-carrusel div{
    height:90vh;
}

#body-index .carousel-caption{
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-shadow: 2px 2px 3px black;
}

#body-index .carousel-caption .btn-link, #body-index div .boton-modal{
    text-decoration: none;
    color: white;
    background-color: #d97c2b;
}

#body-index .carousel-caption .btn-link:hover, #body-index div .boton-modal:hover{
    text-decoration: none;
    color: #d97c2b;
    background-color:white;
    font-weight: bold;
    border: 3px solid #d97c2b;
}

#body-index .modal-content{
    background-color: lightyellow !important;
}

#body-index .modal-header{
    background-color: #d97c2b !important;
    color: white;
    font-weight: bold !important;
}

#body-index .naranja{
    color: #d97c2b !important;
}

#body-index .carousel-item img{
    opacity: .6;
    filter: brightness(70%);
}

#body-index .seccion-acordeon{
    margin-top: 30px;
    margin-bottom: 100px;
}

#footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 30px;
    color: white;
    background-color:#0D0D0D;
}

#footer p{
    font-size:.7rem;
    padding-top:.5rem;
}

@media (max-width:539px) {
    #body-index .carousel-caption{ 
        font-size: 3vw;
    }    
}

@media (min-width:540px) {
    #body-index .carousel-caption{ 
        font-size: 1rem;
    }    
}