*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*//////////////////////////////////////////////////////////////*/
html {
    height: 100%;
}

#body-pagos {
    height: 100%;
}

#body-pagos .img-header{
    width: 4rem;
}

#body-pagos .navbar-brand {
    font-size: 1em !important;
}

#body-pagos ul li a:hover{
    color: #d97c2b !important;
    font-weight: bold;
}

#body-pagos #vista-pagos {
    height: calc(100vh - 120px);
}

#body-pagos #main-pagos {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "info";
}

#body-pagos .accordion {
    --bs-accordion-border-radius: 30px !important;
    --bs-accordion-inner-border-radius: 30px !important;
}

#body-pagos #pagos-menu {
    grid-area: pagos-menu;
    width: 100%;
    padding: 10px;
}

#body-pagos #info-pagos {
    height: 100%;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 90%;
    grid-gap: 10px;
    grid-template-areas: " . . ."
                         ". pagos-menu .";
}

#body-pagos #pagos-menu .nav-link {
    margin: 2px;
    background-color: #d97c2b;
    opacity: 1;
    color: white;
}

#body-pagos #pagos-menu .nav-link:hover {
    background-color: #f23005;
    opacity: 0.8;
    color: white;
}

#body-pagos #pagos-menu .nav-link.active {
    background-color: #f23005 !important;
    opacity: 1;
    color: white;
}

#body-pagos input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input[type="number"] {
    -moz-appearance: textfield;
} */

#body-pagos #pagos-menu .form-select, #body-pagos #pagos-menu input {
    box-shadow: 2px 2px #d97c2b;
}

#body-pagos #pagos-menu .form-select:focus, #body-pagos #pagos-menu input:focus {
    box-shadow: none;
    border: 1px solid #f23005 ;
}

#body-pagos #servicio-confirmar-button, #body-pagos #servicio-cancelar-button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: #d97c2b;
    color: white;
}

#body-pagos #servicio-confirmar-button:focus, #body-pagos #servicio-cancelar-button:focus {
    background-color: #f23005;
}

#body-pagos #servicio-confirmar-button:active, #body-pagos #servicio-cancelar-button:active {
    background-color: #f23005;
    transform: scale(1.2);
}

#body-pagos #pagos-menu .accordion-item {
    min-width: 300px;    
}

#body-pagos #pagos-menu .accordion-button:not(collapsed) {
    background-color: #d97c2b;
}

#body-pagos #nuevo-servicio-form {
    visibility: hidden;
}

#body-pagos #pagos-menu  #nuevoServicio-button {
    width: 200px !important;
    margin-top: 10px;
    box-shadow: none;
    border: none;
    background-color: #d97c2b;
    color: white;
    font-size: 1em;
}

#body-pagos #pagos-menu button:hover {
    border:none;
    background-color:#f23005;
    color: white;
}

#body-pagos #pagos-menu  #nuevoServicio-button:active {
    border:none;
    background-color:#f23005 !important;
    color: white !important;
    transform: scale(1.2);
}
#body-pagos #pagos-menu #nuevoServicio input {
    box-shadow: none;
}

#body-pagos #pagos-menu .accordion-button {
    color: white;
}

#body-pagos #pagos-menu .accordion-button:focus {
    --bs-accordion-btn-focus-box-shadow:none;
    background-color: #d97c2b;
    color: white;
}

#body-pagos #pagos-menu .accordion-button:not(collapsed) {
    --bs-accordion-btn-focus-box-shadow:none;
    background-color: #d97c2b;
    color: white;
}

#body-pagos #pagos-menu nav button {
    border-radius: 30px;
}

#body-pagos .bi, #body-pagos .bi-trash3 {
    /* display: block !important; */
    font-size: 1.5em !important;
    cursor: pointer;
    color: #d97c2b;
}

#body-pagos .bi:hover, #body-pagos .bi-trash3:hover {
    color: #f23005;
}

#body-pagos .bi:active, #body-pagos .bi-trash3:active {
    color: #f23005;
    scale: 1.2 !important;
}

#body-pagos .col-boleta-servicio, #body-pagos .col-boleta-pagar {
    cursor: pointer;
   
}

#body-pagos .col-boleta-servicio:active, #body-pagos .col-boleta-pagar:active {
    transform: scale(1.2);
}

#body-pagos #serviciosAdheridos-table, #body-pagos #historialPagos-table, #body-pagos #agendaPagos-table {
    font-size: 0.8em;
    /* display: flex; */
    /* flex-flow: column; */
    /* table-layout: fixed; */
   
    width: 100% !important;
    max-height: 160px;
    border-collapse: separate;
    border-spacing: 0 3px;
    margin-bottom: 20px;
    font-family: "Graduate", serif;
}

#body-pagos #serviciosAdheridos-table tr, #body-pagos #historialPagos-table tr, #body-pagos #agendaPagos-table tr {
    text-align: left;
    height: 50px;
    /* display: table; */
    /* table-layout: fixed; */
}
 

#body-pagos table th:nth-child(1) {
    width: 40%;    
}

#body-pagos table th:nth-child(2) {
    width: 30%;
}

#body-pagos table th:nth-child(3) {
    width: 20%;
}

#body-pagos table th:nth-child(4) {
    width: 10%;
} 

#body-pagos #serviciosAdheridos-table td, #body-pagos #historialPagos-table td, #body-pagos #agendaPagos-table td {
    font-family: "Graduate", serif;
}

#body-pagos #serviciosAdheridos-table tr:nth-child(even), #body-pagos #historialPagos-table tr:nth-child(even), #body-pagos #agendaPagos-table tr:nth-child(even) {
    background-color:  lightgray !important
}

#body-pagos #serviciosAdheridos-table tr:nth-child(odd), #body-pagos #historialPagos-table tr:nth-child(odd), #body-pagos #agendaPagos-table tr:nth-child(odd) {
    background-color: rgba(255,255,255,0.8) !important;
}

#body-pagos #serviciosAdheridos-table thead tr:first-child, #body-pagos #historialPagos-table thead tr:first-child, #body-pagos #agendaPagos-table thead tr:first-child {
    background-color: #d97c2b !important;    
}
/*   
#serviciosAdheridos-table tbody, #historialPagos-table tbody, #agendaPagos-table tbody {
    display: block;
    overflow-y: auto;
} */

#body-pagos #nuevoServicio-confirmar, #body-pagos #nuevoServicio-cancelar {
    width: 100px;
    height: 30px;
    margin-right: 10px;
}

/* .servicio-pagar-button {
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: #d97c2b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
} */

#body-pagos #popupServicio {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    width: 320px;
    height: 100px;
    z-index: 10;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px #f23005;
    text-align: center;
}

#body-pagos #popupServicio p {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
}

/* #popupServicio h6 {
    background-color: lightgray;
    margin-top: 15px;
    padding-left: 5px;
} */

#body-pagos #popupServicio button {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #d97c2b;
    color: white;
    border: none;
    border-radius: 10px;
    width: 75px;
    height: 25px;
    font-size: 0.7em;
}

#body-pagos .bi-download {
    margin-top: 30px;
}

#body-pagos .bi-x-lg {
    font-size: 0.8em !important;
}

#body-pagos #popupBoleta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    width: 320px;
    height: 300px;
    z-index: 10;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px #f23005;
    text-align: center;
}

#body-pagos #popupBoleta p {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 15px;
    padding-right: 5px;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}

#body-pagos #popupBoleta h6 {
    background-color: lightgray;
    padding-left: 5px;
}

/* .servicio-boleta-icon {
    width: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
} */

#body-pagos #boleta-logo-texto {
    text-align: start;
    margin-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#body-pagos #mas-icon {
    width: 1.2em;
}

#body-pagos #mas-servicio-button {
    background-color: transparent;
    border: none;
}

#body-pagos #mas-servicio-button:hover {
    background-color: transparent !important;
}

#body-pagos #mas-servicio-button:active {
    transform: scale(1.2);
    background-color: transparent; 
}

#body-pagos .accordion-body section p, #body-pagos .accordion-body section label {
    margin: 0;  
}

#body-pagos .accordion-body figcaption {
    font-size: 1.5em;
    font-weight: 600;
}

@media screen and (max-height: 650px) {
    #body-pagos {
        height: 650px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 576px) {
    #body-pagos table td, #body-pagos table th {
        font-size: 0.7em !important;
    }
}

@media screen and (max-width: 476px) {
    #body-pagos #info {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        grid-gap: 10px;
        grid-template-areas: "."
                             "pagos-menu";
    }
    #body-pagos table td, #body-pagos table th {
        font-size: 0.6em !important;
    }
    #body-pagos .servicio-pagar-icon, #body-pagos .servicio-boleta-icon {
        width: 16px !important;
    }
}

#footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 30px;
    color: white;
    background-color:#0D0D0D;
}

#footer p{
    font-size:.7rem;
    padding-top:.5rem;
}

.naranja{
    color: #d97c2b;
}
/*///////////*/

/*////////////////////////////////////////////////////////////*