* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body-registro {
    font-family: Arial, sans-serif;
    background-color: #ffff;
}

#body-registro .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#body-registro .row {
    display: flex;
    flex-wrap: wrap;
}

#body-registro .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
}

#body-registro .img-fluid {
    max-width: 100%;
    height: auto;
}

/* Estilos del formulario */
#body-registro .form-container {
    background-color: #ffff;
    height: 100%;
    border-radius: 10px;
    padding: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#body-registro .mb-4 {
    text-align: center;
}

#body-registro .form-group {
    margin-bottom: 20px;
    padding: 15px;
}

#body-registro label {
    display: block;
    font-weight: bold;
    color: #a66c26;
}

#body-registro .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #734f22;
    border-radius: 5px;
}

#body-registro .btn-primary {
    background-color: #f25c05 !important;
    border: 1px solid #bf2604 !important;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100% - 20px);
    margin-top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#body-registro .btn-primary:hover {
    background-color: #bf2604 !important;
}

#body-registro .error-message {
    color: red;
    font-size: 0.9rem;
    padding-top: 40px;
}

#body-registro #registro-footer {
    margin-top: auto;
    height: 2.5em;
    color: #d97c2b;
    background-color: #0d0d0d;
    padding: 50px;
    text-align: center;
}

#body-registro .navbar {
    margin: 0;
    box-sizing: border-box;
}

#body-registro .img-header{
    width: 3rem;
}

#body-registro .navbar-brand {
    font-size: 1.3em !important;
}

#body-registro ul li a:hover {
    color: #d97c2b !important;
    font-weight: bold;
}

#body-registro .password-container {
    position: relative;
}

#body-registro .password-container input {
    padding-right: 40px;
}

#body-registro .password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

#body-registro #registroExitoso {
    display: none;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    padding: 20px;
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    max-width: 250px;
    text-align: right;
}

#popupRegistro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    width: 200px;
    height: 170px;
    z-index: 10;
    background-color: white;
    border: none;
    border: 2px solid #d97c2b;
    border-radius: 10px;
}

#popupRegistro #msgRegistro {
    
    justify-content: center;
}

#popupRegistro img {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

#popupRegistro p {
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
}

#popupRegistro #registro-button {
    margin-top: 10px;
    width: 80px;
    border:none;
    background-color: #d97c2b;
    color: white;
    font-size: 1em;
    margin-left: 50%;
    transform: translateX(-50%);
}

#popupRegistro #registro-button:hover {
    border:none;
    background-color:#f23005;
    color: white;
}



@media (max-width: 768px) {
    #body-registro .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }


    #body-registro #logo {
        width: 60px;
    }

    #body-registro header ul li {
        margin-left: 15px;
    }
}

@media (max-width: 576px) {


    #body-registro #logo {
        width: 40px;
    }

    #body-registro header ul li {
        margin-left: 10px;
    }
}

#footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 30px;
    color: white;
    background-color: #0D0D0D;
}

#footer p {
    font-size: .7rem;
    padding-top: .5rem;
}

.naranja {
    color: #d97c2b;
}