<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article id="info">
    <h6 id="cuenta_header">Cuenta <span><i id="home-eye-icon" class="bi-eye bi-eye-slash" onclick="verSaldo()"></i></span></h6>
    <section id="cuenta_datos">
        <p>CA $ 111 111111/1 </p>
        <p>$<span id="saldo">1.111.111,11</span></p>
        <p>CBU: 1111111111111111111111</p>
    </section>
    <h6 id="movimientos_header">Movimientos</h6>
    <section id="cuenta_movimientos">
        <table>
            <thead>
                <tr>
                    <th class="fecha">Fecha</th>
                    <th class="tipo">Tipo</th>
                    <th class="concepto">Concepto</th>
                    <th class="importe">Importe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="fecha">15/04</td>
                    <td class="tipo">Crédito</td>
                    <td class="concepto">Lorem ipsum dolor sit amet</td>
                    <td class="importe">&nbsp$1.111,11</td>
                </tr>
            </tbody>
        </table>
    </section>
    </article>
</body>
</html>